<h1><font color='blue'>LISTS and TUPLES</font></h1>

<h2><font color='grey'>Create empty list</font></h2>

You can also make an empty list with the list() function:

In [1]:
myfirst_list=[]
type(myfirst_list)

list

In [2]:
mysecond_list=list()
type(mysecond_list)

list

python list() converts string into list

In [3]:
list('python')

['p', 'y', 't', 'h', 'o', 'n']

Create a list from string split()

In [4]:
python_day='12/12/2019'
python_day.split('/')

['12', '12', '2019']

<h3><font face='courier new'>list.reverse()</font></h3>

In [5]:
lang=['c','c++','java','python']

In [6]:
lang.reverse()

In [7]:
lang

['python', 'java', 'c++', 'c']

<h2><font color='grey'>Add an Item to the End with append()</font></h2>

In [8]:
lang=['c','c++','java','python']

In [9]:
lang.append('R')

In [10]:
lang

['c', 'c++', 'java', 'python', 'R']

<h2><font color='grey'>Add an Item by Offset with insert()</font></h2>
<h3>Syntax:&nbsp;<font face='courier new'>insert(index, word)</font></h3>

In [11]:
lang=['c', 'c++', 'java', 'python', 'R']

In [12]:
lang.insert(2,'scala')

In [13]:
lang

['c', 'c++', 'scala', 'java', 'python', 'R']

<h2><font color='grey'>Duplicate All Items with *</font></h2>
<h3>Syntax:&nbsp;<font face='courier new'>['string']*value</font></h3>

In [14]:
['python']*3

['python', 'python', 'python']

In [15]:
['python','java']*3

['python', 'java', 'python', 'java', 'python', 'java']

<h2><font color='grey'>Combine Lists by Using extend() or +</font></h2>

In [16]:
lang

['c', 'c++', 'scala', 'java', 'python', 'R']

In [17]:
markups=['html','xml']

In [18]:
lang.extend(markups)

In [19]:
lang

['c', 'c++', 'scala', 'java', 'python', 'R', 'html', 'xml']

In [20]:
server_scripting=['PHP','ASP','JSP']

In [21]:
lang=lang+server_scripting

In [22]:
lang

['c',
 'c++',
 'scala',
 'java',
 'python',
 'R',
 'html',
 'xml',
 'PHP',
 'ASP',
 'JSP']

In [23]:
lang+=server_scripting

In [24]:
lang

['c',
 'c++',
 'scala',
 'java',
 'python',
 'R',
 'html',
 'xml',
 'PHP',
 'ASP',
 'JSP',
 'PHP',
 'ASP',
 'JSP']

In [25]:
client_scripting=['javascript','actionscript']

In [26]:
lang.append(client_scripting)

In [27]:
lang

['c',
 'c++',
 'scala',
 'java',
 'python',
 'R',
 'html',
 'xml',
 'PHP',
 'ASP',
 'JSP',
 'PHP',
 'ASP',
 'JSP',
 ['javascript', 'actionscript']]

<h2><font color='grey'>Change an Item by [offset]</font></h2>

In [28]:
lang

['c',
 'c++',
 'scala',
 'java',
 'python',
 'R',
 'html',
 'xml',
 'PHP',
 'ASP',
 'JSP',
 'PHP',
 'ASP',
 'JSP',
 ['javascript', 'actionscript']]

In [29]:
lang[1]='c#'

In [30]:
lang

['c',
 'c#',
 'scala',
 'java',
 'python',
 'R',
 'html',
 'xml',
 'PHP',
 'ASP',
 'JSP',
 'PHP',
 'ASP',
 'JSP',
 ['javascript', 'actionscript']]

<h2><font color='grey'>Change an Item with a Slice</font></h2>

In [31]:
numbers=[1,2,3,4]

In [32]:
numbers[1:3]=[8,9]

In [33]:
numbers

[1, 8, 9, 4]

<h2><font color='grey'>Delete an Item by Offset with del</font></h2>
<h3>Syntax:&nbsp;&nbsp;<font face='courier new'>del list[offset]</font></h3>

In [34]:
languages=['C','C#','Java','Python']

In [35]:
del languages[-1]

In [36]:
languages

['C', 'C#', 'Java']

In [37]:
del languages[0:2]

In [38]:
languages

['Java']

<h2><font color='grey'>Delete an Item by Value with remove()</font></h2>
<h3>Syntax:&nbsp;&nbsp;<font face='courier new'>list.remove('element')</font></h3>

In [39]:
languages=['C','C#','Java','Python']

In [40]:
languages.remove('C#')

<h2><font color='grey'>Get an Item Offset and Delete It with pop()</font></h2>
<h3>Syntax:&nbsp;&nbsp;<font face='courier new'>list.pop(offset)</font></h3>

In [41]:
languages=['C','C#','Java','Python']

In [42]:
languages.pop()

'Python'

In [43]:
languages.pop(1)

'C#'

In [44]:
languages

['C', 'Java']

<h2><font color='grey'>Delete All Items with clear()</font></h2>
<h3>Syntax:&nbsp;&nbsp;<font face='courier new'>list.clear()</font></h3>

In [45]:
languages=['C','C#','Java','Python']

In [46]:
languages.clear()

In [47]:
languages

[]

<h2><font color='grey'>Find an Item's Offset by Value with index()</font></h2>
<h3>Syntax:&nbsp;&nbsp;<font face='courier new'>list.index('element')</font></h3>

In [48]:
languages=['C','C#','Java','Python']

In [49]:
languages.index('C')

0

<h2><font color='grey'>Test for Value with in</font></h2>
<h3>Syntax:&nbsp;&nbsp;<font face='courier new'>'element' in list</font></h3>

In [50]:
'Python' in languages

True

In [51]:
'C++' in languages

False

In [52]:
languages=['C','C#','Java','Python']

<h2><font color='grey'>Count Occurrences of Value with count()</font></h2>
<h3>Syntax:&nbsp;&nbsp;<font face='courier new'>list.count('element')</font></h3>

In [53]:
languages.count('C')

1

<h2><font color='grey'>How to convert list to string ?</font></h2>
<h3>Syntax:&nbsp;&nbsp;<font face='courier new'>'seperator'.join(list)</font></h3>

In [54]:
','.join(languages)

'C,C#,Java,Python'

<h2><font color='grey'>Reorder Items of the list</font></h2>
<h3>By using sorted-Syntax:&nbsp;&nbsp;<font face='courier new'>sorted(list)</font></h3>
<h3>By using sort-Syntax:&nbsp;&nbsp;<font face='courier new'>list.sort()</font></h3>

In [55]:
languages=['Python','C#','Java','C']

In [56]:
sorted(languages)

['C', 'C#', 'Java', 'Python']

In [57]:
languages

['Python', 'C#', 'Java', 'C']

In [58]:
languages.sort()

In [59]:
languages

['C', 'C#', 'Java', 'Python']

In [60]:
languages=['Python','C#','Java','C']

In [61]:
languages.sort(reverse=True)

In [62]:
languages

['Python', 'Java', 'C#', 'C']

In [63]:
languages=['Python','C#','Java','C']

In [64]:
sorted(languages,reverse=True)

['Python', 'Java', 'C#', 'C']

<h2><font color='grey'>Get Length with len()</font></h2>
<h3>Syntax:&nbsp;&nbsp;<font face='courier new'>len(list)</font></h3>

In [65]:
len(languages)

4

<h2><font color='grey'>Assign with =</font></h2>
<h2>&nbsp;&nbsp;<font face='times new roman'>When you assign one list to more than one variable, changing the list in one place also changes it in the other.</font></h2>

In [66]:
a=[1,2,3,4]

In [67]:
id(a)

2109612147720

In [68]:
b=a

In [69]:
id(b)

2109612147720

In [70]:
a[0]='hello'

In [71]:
a

['hello', 2, 3, 4]

In [72]:
b

['hello', 2, 3, 4]

In [73]:
b[1]='hi'

In [74]:
a

['hello', 'hi', 3, 4]

<h2><font color='grey'>Copy with copy(), list(), or a Slice</font></h2>
&nbsp;&nbsp;<font face='times new roman'>You can <i>copy</i> the values of list to an independent, fresh list by using any of these methods:</font>
<ul>
    <li> The list <font face='courier new'>copy()</font> method</li> 
    <li> The<font face='courier new'> list()</font> conversion function</li>
    <li> The list<font face='courier new'> [:]</font></li>
    </ul>

In [2]:
a=[1,2,3]

In [3]:
id(a)

1958952968712

In [4]:
b=a

In [5]:
b

[1, 2, 3]

In [6]:
id(b)

1958952968712

In [7]:
b.append(4)

In [8]:
b

[1, 2, 3, 4]

In [9]:
a

[1, 2, 3, 4]

In [76]:
b=a.copy()

In [77]:
c=list(a)

In [78]:
d=a[:]

In [79]:
a[0]='hello'

In [80]:
a

['hello', 2, 3]

In [81]:
b

[1, 2, 3]

In [82]:
c

[1, 2, 3]

In [83]:
d

[1, 2, 3]

In [84]:
a=[1,2,[8,9]]

In [85]:
b=a.copy()

In [86]:
c=list(a)

In [87]:
d=a[:]

In [88]:
a[2][1]=10

In [89]:
a

[1, 2, [8, 10]]

In [90]:
b

[1, 2, [8, 10]]

In [91]:
c

[1, 2, [8, 10]]

In [92]:
d

[1, 2, [8, 10]]

<h2><font color='grey'>To remedy this situation we use <font face='courier new'>deepcopy()</font></font></h2><br>
&nbsp;&nbsp;<font face='times new roman'>Deep copy remedies this situation. For this purpose we need 
to import the module called copy, as shown below:</font>

In [93]:
import copy

In [94]:
a

[1, 2, [8, 10]]

In [95]:
b=copy.deepcopy(a)

In [96]:
a[2][0]=9

In [97]:
a

[1, 2, [9, 10]]

In [98]:
b

[1, 2, [8, 10]]

<font face='times new roman'><font face='courier new'>deepcopy()</font> can handle deeply nested lists,dictionaries, and other objects</font>

<h2><font color='grey'>Compare Lists</font></h2>

In [99]:
a=[1,2,3]

In [100]:
b=[7,8,9]

In [101]:
a==b

False

In [102]:
b>a

True

<h2><font color='grey'>Iterate with for and in</font></h2>

In [103]:
languages=['C','C#','JAVA','PYTHON']

In [104]:
for i in languages:
    print(i)

C
C#
JAVA
PYTHON

<font face='times new roman'><font face='courier new'>break</font> ends the <font face='courier new'>for</font> loop and <font face='courier new'>continue</font> steps to next iteration </font>

In [105]:
languages=['C','C#','JAVA','PYTHON','HTML','GO']

In [106]:
for i in languages:
    if i.lower()=='html':
        print('HTML is not a programming language like others')
        break
    else:
        print(i)

C
C#
JAVA
PYTHON
HTML is not a programming language like others

<font face='times new roman'>We can use the optional <font face='courier new'>else</font> if the <font face='courier new'>for</font> Completed without a <font face='courier new'>break</font></font>

In [107]:
languages=['C','C#','JAVA','PYTHON','GO']

In [108]:
for language in languages:
    if language.lower()=='html':
        print('HTML is not a programming language like others')
        break
    else:
        print(language)
else:
    print('There are no non-programming languages')

C
C#
JAVA
PYTHON
GO
There are no non-programming languages

If the initial for never ran, control goes to the else also:

In [109]:
cheeses=[]
for cheese in cheeses:
    print(cheese)
    break
else:
    print('There is no cheese')

There is no cheese

### cheeses list was empty in this example, for cheese in cheeses never completed a single loop and its break statement was never executed.

In [110]:
days=['Monday','Tuesday','Wednesday']
fruits=['banana','orange','peach']
drinks=['coffee','tea','ice tea']
desserts=['double ka meeta','ice cream','jamoon','pudding']

In [111]:
for day, fruit, drink, dessert in zip(days, fruits, drinks, desserts):
    print(day, ": drink", drink, "- eat",fruit, "- enjoy", dessert)

Monday : drink coffee - eat banana - enjoy double ka meeta
Tuesday : drink tea - eat orange - enjoy ice cream
Wednesday : drink ice tea - eat peach - enjoy jamoon

### zip() stops when the shortest sequence is done.

In [112]:
english= 'Monday','Tuesday','Wednesday'

In [113]:
english

('Monday', 'Tuesday', 'Wednesday')

In [114]:
french= 'Lundi','Mardi','Mercerdi'

In [115]:
french

('Lundi', 'Mardi', 'Mercerdi')

In [116]:
zip(english,french)

In [117]:
tuple(zip(english, french))

(('Monday', 'Lundi'), ('Tuesday', 'Mardi'), ('Wednesday', 'Mercerdi'))

In [118]:
list(zip(english, french))

[('Monday', 'Lundi'), ('Tuesday', 'Mardi'), ('Wednesday', 'Mercerdi')]

In [119]:
dict(zip(english, french))

{'Monday': 'Lundi', 'Tuesday': 'Mardi', 'Wednesday': 'Mercerdi'}

<h2><font color='grey'>Create a List with a Comprehension</font></font></h2>

### create a list with a list comprehension, which incorporates the for/in iteration

In [120]:
number_list=[]
number_list.append(1)
number_list.append(2)
number_list.append(3)
number_list.append(4)
number_list.append(5)

In [121]:
number_list

[1, 2, 3, 4, 5]

In [122]:
number_list=[]
for number in range(1,6):
    number_list.append(number)

In [123]:
number_list

[1, 2, 3, 4, 5]

In [124]:
a=list(range(1,6))

In [125]:
a

[1, 2, 3, 4, 5]

### All the mentioned techniques above are correct and produce correct result but more pythonic way to build a list is by using <i>list comprehension</i>. The simplest form of list comprehension looks like this:
<h3>Syntax:&nbsp;&nbsp;<font face='courier new'>[expression for item in iterable]</font></h3>

In [126]:
number_list=[number for number in range(1,6)]

In [127]:
number_list

[1, 2, 3, 4, 5]

In [128]:
number_list=[number-1 for number in range(1,6)]

In [129]:
number_list

[0, 1, 2, 3, 4]

### A list comprehension can include a conditional expression looking something like this:
<h3>Syntax:&nbsp;&nbsp;<font face='courier new'>[expression for item in iterable if condition]</font></h3>

In [130]:
odd_list = [number for number in range(1,6) if number % 2==1]

In [131]:
odd_list

[1, 3, 5]

In [132]:
rows = range(1,4)
cols=range(1,3)

In [133]:
for row in rows:
    for col in cols:
        print(row, col)

1 1
1 2
2 1
2 2
3 1
3 2

### Lets use a comprehension and assign it to the variable cells, making it a list of (row, col) tuples:

In [134]:
rows=range(1,4)
cols=range(1,3)
cells = [(row, col) for row in rows for col in cols]

In [135]:
for cell in cells:
    print(cell)

(1, 1)
(1, 2)
(2, 1)
(2, 2)
(3, 1)
(3, 2)

In [136]:
cells

[(1, 1), (1, 2), (2, 1), (2, 2), (3, 1), (3, 2)]

### We can also use <i>tuple unpacking</i> to get the row and col values from each tuple as we iterate over the cells list:

In [137]:
for row, col in cells:
    print(row, col)

1 1
1 2
2 1
2 2
3 1
3 2

### The for row and for col fragments in the list comprehension could also have had their own if itests.

<h2><font color='grey'>List of Lists</font></font></h2>

In [138]:
small_birds=['hamming_bird','finch']
extinct_birds=['dodo','passenger pigeon','Norwegian Blue']
carol_birds=[3,'French hens',2,'turtledoves']

In [139]:
all_birds=[small_birds,extinct_birds,carol_birds]

In [140]:
all_birds

[['hamming_bird', 'finch'],
 ['dodo', 'passenger pigeon', 'Norwegian Blue'],
 [3, 'French hens', 2, 'turtledoves']]

In [141]:
all_birds[0]

['hamming_bird', 'finch']

In [142]:
all_birds[1]

['dodo', 'passenger pigeon', 'Norwegian Blue']

In [143]:
all_birds[1][0]

'dodo'

<h2><font color='blue'>TUPLES</font></h2>

In [179]:
empty_tuple=()

In [180]:
empty_tuple

()

In [181]:
type(empty_tuple)

tuple

### To make a tuple with one or more elements, follow each element with a comma. This works for one-element tuples

In [182]:
one_marx='Groucho',

In [183]:
one_marx

('Groucho',)

In [184]:
one_marx=('Groucho',)

In [185]:
one_marx

('Groucho',)

In [186]:
marx_tuple='Groucho','Chico','Harpo'

In [187]:
marx_tuple

('Groucho', 'Chico', 'Harpo')

In [188]:
marx_tuple=('Groucho','Chico','Harpo')

### Tuple let you assign multiple variables at once:

In [194]:
a=list(marx_tuple)

In [196]:
tuple(a)

('Groucho', 'Chico', 'Harpo')

In [189]:
a,b,c=marx_tuple

In [190]:
a

'Groucho'

In [191]:
b

'Chico'

In [192]:
c

'Harpo'

### This is called Tuple unpacking

### You can use tuples to exchange values in one statement without using a temporary variable:

In [197]:
password='swordfish'

In [198]:
icecream='tuttifrutti'

In [199]:
password, icecream = icecream, password

In [204]:
a=password,icecream

In [205]:
a

('tuttifrutti', 'swordfish')

In [200]:
password

'tuttifrutti'

In [201]:
icecream

'swordfish'

<h2><font color='grey'>Create with tuple()</font></font></h2>

In [202]:
numbers=[1,3,5,7]

In [203]:
tuple(numbers)

(1, 3, 5, 7)

<h2><font color='grey'>Combine Tuples by Using +</font></font></h2>
This is similar to combining strings

In [165]:
('Groucho',)+('Chico','harpo')

('Groucho', 'Chico', 'harpo')

<h2><font color='grey'>Duplicate Items with *</font></font></h2>
This is like repeated use of +:

In [206]:
('yada',)*3

('yada', 'yada', 'yada')

<h2><font color='grey'>Compare Tuples</font></font></h2>
This works much like list comparisons:

In [207]:
a=(7,2)

In [208]:
b=(7,2,9)

In [209]:
a==b

False

In [210]:
a<=b

True

<h2><font color='grey'>Iterate with for and in</font></font></h2>

In [211]:
words=('fresh','out','of','ideas')

In [212]:
for word in words:
    print(word)

fresh
out
of
ideas

<h2><font color='grey'>Modify a Tuple</font></font></h2>

In [213]:
t1=('Fee','Fie','Foe')

In [215]:
id(t1)

2109612850296

In [214]:
t2='top',

In [216]:
t1+=t2

In [217]:
t1

('Fee', 'Fie', 'Foe', 'top')

In [218]:
id(t1)

2109616422168

In [219]:
id(t2)

2109612420936